@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.ttf);
}
.bloqueDeTexto {
    height: 100px;
    width: 500px;
    margin: 150px;
    padding-bottom: 150px;
    color: white;
}
.Imagen {
    left: 40%;
    top: 30%;
    position: absolute;
    border-radius: 50%;
    
}
.Imagen2 {
    left: 40%;
    top: 55%;
    position: absolute;
    border-radius: 50%;
    
}
footer{
   background-color: white;
}
.footer {
    margin-top: 400px;
}

/* Formularios de registro*/
.formularios{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
}


.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px border solid rgb(212, 137, 46);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    

}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botones {
    width: 100%;
    background: rgb(212, 137, 46);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/*fotos de productos*/

.fotos-productos {
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    padding-left: 640px;
}

/*foto y texto de pagina html de QuienesSomos con flexbox*/

 .card {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

 }
 .card__item {
    background: #f2f2f2;
    margin-bottom: 3em;
 }

 .card__content {
    width: 90%;
    margin: auto;
 }

 .card__picture{
    width: 90%;
    margin: 0 auto;
    background: #24303c;
    bottom: 2em;
    
 }
 .card__img{
    width: 100%;
 }
 .card__title{
    margin-bottom: 1em;
 }

 /* H1 titulos*/
 .Titulos{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #f2f2f2;
 }
 
